<script>
export default {
  name: 'LazyMdCardObject',

  props: {
    label: {
      type: String,
      required: true,
    },

    value: {
      type: [String, Array],
      required: false,
      default: '',
    },
  },

  computed: {
    arrayValue() {
      return Array.isArray(this.value)
    },

    objectEntry() {
      const { value } = this

      if (!value || typeof value !== 'object') {
        return null
      }

      return Object.entries(value)
    },
  },

  methods: {
    isObject(value) {},
  },
}
</script>

<template>
  <div class="font-mono">
    <strong class="text-indigo-500">{{ label }}:</strong>

    <div v-if="arrayValue" class="mt-1">
      <lazy-md-card-array :values="value" />
    </div>

    <div v-else-if="objectEntry" class="mt-1 ml-4">
      <lazy-md-card-object :label="objectEntry[0]" :value="objectEntry[1]" />
    </div>

    <span v-else class="text-amber-600">{{ value }}</span>
  </div>
</template>
