<script>
import interpretVariables from '@/assets/interpret-variables'

export default {
  name: 'MdDefinitionCard',

  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  computed: {
    definition() {
      const { item } = this

      return [
        {
          label: 'Product section',
          value: `section::${item.product_section}`,
          type: 'GlLabel',
          props: { backgroundColor: '#F0AD4E' },
        },
        {
          label: 'Product stage',
          value: `devops::${item.product_stage}`,
          type: 'GlLabel',
          props: { backgroundColor: '#F0AD4E' },
        },
        {
          label: 'Product group',
          value: item.product_group,
          type: 'GlLabel',
          props: { backgroundColor: '#6366F1' },
        },
        {
          label: 'Category',
          value: interpretVariables(item.category),
          type: 'value',
        },
        {
          label: 'Action',
          value: interpretVariables(item.action),
          type: 'value',
        },
        {
          label: 'Label description',
          value: interpretVariables(item.label_description),
          type: 'value',
        },
        {
          label: 'Property description',
          value: interpretVariables(item.property_description),
          type: 'value',
        },
        { label: 'Distribution', value: item.distribution },
        { label: 'Tier', value: item.tier },
        { label: 'Milestone', value: item.milestone },
        {
          label: 'Introduced by url',
          value: item.introduced_by_url,
          type: 'GlLink',
          props: { href: item.introduced_by_url },
        },
        {
          label: 'Extra values',
          value: item.extra_properties
            ? Object.entries(item.extra_properties)
            : null,
          type: 'object',
        },
      ]
    },
  },
}
</script>

<template>
  <div
    class="overflow-hidden rounded-lg bg-white shadow-md ring-1 ring-gray-200/50"
  >
    <div class="px-4 py-5">
      <h3
        class="break-all font-mono text-lg font-medium leading-6 text-gray-900"
      >
        <a :href="item.web_path">{{ item.key }}</a>
      </h3>
      <p class="m-0 max-w-prose text-sm text-gray-500 sm:mt-1">
        {{ item.description }}
      </p>
    </div>
    <div class="border-t border-gray-200 px-4 pt-5 pb-2">
      <dl class="sm:divide-y sm:divide-gray-200">
        <lazy-md-card-value
          v-for="property in definition"
          :key="property.label"
          :item="property"
        />
      </dl>
    </div>
  </div>
</template>

<style>
.gl-label-link {
  pointer-events: none;
}
</style>
