<script>
export default {
  name: 'MdTable',

  props: {
    columns: {
      type: Array,
      required: true,
    },

    rows: {
      type: Array,
      required: false,
      default: undefined,
    },

    dataUrl: {
      type: String,
      required: true,
    },

    paginationLimit: {
      type: Number,
      required: false,
      default: 15,
    },
  },

  data() {
    return {
      sort: {
        enabled: true,
      },

      search: {
        enabled: true,
        debounceTimeout: 300,
        ignoreHiddenColumns: true,
      },

      classNames: {
        table: 'text-sm',
        search: 'hidden',
        th: 'border-x-0 py-2 bg-transparent text-gray-600',
        td: 'border-x-0 text-black',
        paginationButtonCurrent: 'text-white bg-blue-600 border-blue-600',
        footer: 'text-sm shadow-none rounded-none',
      },
    }
  },

  mounted() {
    window.requestAnimationFrame(() => this.listenForLoadEvent())
  },

  methods: {
    async getData() {
      const response = await fetch(this.dataUrl)

      return response.json()
    },

    listenForLoadEvent() {
      const { grid } = this.$refs.gridjs

      grid.on('load', ({ rows }) => {
        this.$emit('loaded-rows', rows)
      })
    },
  },
}
</script>

<template>
  <grid
    ref="gridjs"
    :cols="columns"
    :rows="rows || getData"
    :pagination="{ limit: paginationLimit }"
    :class-names="classNames"
    :search="search"
    :sort="sort"
  />
</template>

<style>
.gridjs-wrapper {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: none !important;
}
</style>
