<script>
import { GlLabel, GlButton } from '@gitlab/ui'
import DataTable from '@/mixins/data-table'
import LocalStorage from '@/mixins/local-storage'
import getDataManifest from '@/assets/get-data-manifest'
import getGitLabUrl from '@/assets/get-gitlab-url'
import copyToClipboard from '@/assets/copy-to-clipboard'

export default {
  name: 'ServicePingPage',

  mixins: [DataTable, LocalStorage],

  async asyncData() {
    return { dataManifest: await getDataManifest() }
  },

  data() {
    return {
      namespace: 'service-ping',
      paginationLimit: 10,
      columns: [
        {
          id: 'web_path',
          name: 'Web Path',
          hidden: true,
          nonConfigurable: true,
        },
        {
          id: 'key_path',
          name: 'Key Path',
          hidden: false,
          formatter: (cell, row) => {
            const nuxtLink = `<a
                href="/keys/service-ping?q=${row.cells[1].data}"
                rel="noopener"
                class="${this.getCellButtonClasses()}"
              >↗</a>`

            const htmlLink = `<a
                href="${getGitLabUrl(row.cells[0].data)}"
                target="_blank"
                rel="noopener"
                class="ml-2"
              >${cell}</a>`

            return this.$gridjs.html(
              `<div><div class="whitespace-nowrap flex items-center">${
                nuxtLink + htmlLink
              }</div></div>`
            )
          },
        },
        {
          id: 'description',
          name: 'Description',
          hidden: true,
        },
        {
          id: 'time_frame',
          name: this.$gridjs.html(`<span class="text-center">Timeframe</span>`),
          plainName: 'Timeframe',
          hidden: false,
          formatter: (cell) =>
            this.$gridjs.html(`<div class="text-center">${cell}</div>`),
        },
        {
          id: 'data_source',
          name: this.$gridjs.html(`<span class="text-center">Source</span>`),
          plainName: 'Source',
          hidden: false,
          formatter: (cell) =>
            this.$gridjs.html(`<div class="text-center">${cell}</div>`),
        },
        {
          id: 'data_category',
          name: this.$gridjs.html(`<span class="text-center">Category</span>`),
          plainName: 'Category',
          hidden: false,
          formatter: (cell) =>
            this.$gridjs.html(`<div class="text-center">${cell}</div>`),
        },
        {
          id: 'status',
          name: this.$gridjs.html(`<span class="text-center">Status</span>`),
          plainName: 'Status',
          hidden: false,
          formatter: (cell) =>
            this.$gridjs.html(`<div class="text-center">${cell}</div>`),
        },
        {
          id: 'product_stage',
          name: 'Stage',
          hidden: false,
          formatter: (cell) => {
            if (!cell) {
              return ''
            }

            const current = this.$gridjs.uuid()
            this.$gridjs.render(`[data-ref="${current}"]`, GlLabel, {
              backgroundColor: '#F0AD4E',
              title: `devops::${cell}`,
              scoped: true,
            })

            return this.$gridjs.html(`<div data-ref="${current}"></div>`)
          },
        },
        {
          id: 'product_section',
          name: 'Section',
          hidden: false,
          formatter: (cell) => {
            if (!cell) {
              return ''
            }

            const current = this.$gridjs.uuid()
            this.$gridjs.render(`[data-ref="${current}"]`, GlLabel, {
              backgroundColor: '#F0AD4E',
              title: `section::${cell}`,
              scoped: true,
            })

            return this.$gridjs.html(`<div data-ref="${current}"></div>`)
          },
        },
        {
          id: 'product_group',
          name: 'Group',
          hidden: false,
          formatter: (cell) => {
            if (!cell) {
              return ''
            }

            const current = this.$gridjs.uuid()
            this.$gridjs.render(`[data-ref="${current}"]`, GlLabel, {
              backgroundColor: '#6366F1',
              title: `group::${cell}`,
              scoped: true,
            })

            return this.$gridjs.html(`<div data-ref="${current}"></div>`)
          },
        },
        {
          id: 'milestone',
          name: this.$gridjs.html(`<span class="text-center">Milestone</span>`),
          plainName: 'Milestone',
          hidden: false,
          data: (data) => data.milestone || '',
          formatter: (cell) =>
            this.$gridjs.html(`<div class="text-center">${cell}</div>`),
        },
        {
          id: 'distribution',
          name: 'Distribution',
          hidden: true,
        },
        {
          id: 'introduced_by_url',
          name: 'Introduced by URL',
          hidden: true,
          data: (data) => {
            return [
              data.introduced_by_url,
              data.autoloaded_introduced_by_url,
            ].join(',')
          },
          formatter: (cell) => {
            const [url, autoloadedUrl] = cell.split(',')
            if (!url && !autoloadedUrl) {
              return ''
            }
            const finalUrl = url || autoloadedUrl

            let linkElement = `<a
                  href="${finalUrl}"
                  target="_blank"
                  rel="noopener"
                >${finalUrl}</a> `

            if (autoloadedUrl) {
              const buttonClasses = this.getCellButtonClasses({ hover: false })
              linkElement = `<span title="The URL has been added automatically">
                  <span class="${buttonClasses} font-mono user-select-none text-xs text-blue-600 cursor-help">*</span>
                   ${linkElement}
                 </span>`
            }

            return this.$gridjs.html(linkElement)
          },
        },
        {
          id: 'performance_indicator_type',
          name: 'Performance indicator type',
          hidden: true,
        },
        {
          id: 'tier',
          name: 'Tiers',
          hidden: true,
        },
        {
          id: 'value_type',
          name: 'Value type',
          hidden: true,
        },
        {
          id: 'instrumentation_class',
          name: 'Instrumentation Class',
          hidden: true,
          data: (data) => {
            return [
              data.instrumentation_class,
              data.instrumentation_class_link,
            ].join(',')
          },
          formatter: (cell) => {
            const [name, link] = cell.split(',')
            if (!name) {
              return ''
            }
            return this.$gridjs.html(
              `<a
                href="${link}"
                target="_blank"
                rel="noopener"
                class="text-center"
              >${name}</div>`
            )
          },
        },
        {
          id: 'sisense_query',
          name: 'Sisense query for GitLab.com',
          hidden: false,
          formatter: (cell) => {
            if (!cell) {
              return ''
            }

            const current = this.$gridjs.uuid()
            this.$gridjs.render(
              `[data-ref="${current}"]`,
              GlButton,
              {
                category: 'secondary',
                size: 'small',
              },
              {
                domProps: {
                  innerHTML: 'Copy query to clipboard',
                },
                on: {
                  click: () => copyToClipboard(cell),
                },
              }
            )

            return this.$gridjs.html(`<div data-ref="${current}"></div>`)
          },
        },
      ],
      dataUrl: '',
      sharePath: '',
    }
  },

  head() {
    return {
      title: 'Service Ping',
    }
  },

  created() {
    this.dataUrl = new URL(
      `data/service_ping.${this.dataManifest.service_ping}.json`,
      location.origin
    ).toString()
  },
}
</script>

<template>
  <div class="px-4 sm:px-6 lg:px-8">
    <div>
      <md-table-config
        :columns="columns"
        :namespace="namespace"
        :pagination-limit="paginationLimit"
        :share-path="sharePath"
        export-path="/data/service_ping.csv"
        @search="handleSearch"
        @columns-change="handleColumnsChange"
        @pagination-limit-change="handlePaginationLimitChange"
      />
    </div>

    <md-table
      ref="table"
      :columns="columns"
      :data-url="dataUrl"
      :pagination-limit="paginationLimit"
      @loaded-rows="buildSharePath"
    />
  </div>
</template>
